
.classbg {
    background: yellow !important;
}

input#container-Fragment---View1--input2-inner {
    background: lightpink !important;
    width: 300px !important;
}

input:hover{
	background:mintcream !important;
	width:200PX !important;
}

RadioButton : hover{
	background : green !important;
	color : red !important;
}